In [1]:
import pandas as pd
import random

df = pd.read_csv("C:/Users/nicyj/becode/Restaurant/Data/archive/TA_restaurants_curated.csv")
df.head()

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...,d11752080
1,1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...,d693419
2,2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...,d696959
3,3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...,d1239229
4,4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...,d6864170

In [68]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.0-py2.py3-none-any.whl (250 kB)
     -------------------------------------- 250.0/250.0 kB 5.1 MB/s eta 0:00:00
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.0

In [2]:
df.shape

(125527, 11)

In [3]:
df.dtypes

Unnamed: 0             int64
Name                  object
City                  object
Cuisine Style         object
Ranking              float64
Rating               float64
Price Range           object
Number of Reviews    float64
Reviews               object
URL_TA                object
ID_TA                 object
dtype: object

In [4]:
df.isnull().sum()

Unnamed: 0               0
Name                     0
City                     0
Cuisine Style        31351
Ranking               9651
Rating                9630
Price Range          47855
Number of Reviews    17344
Reviews               9616
URL_TA                   0
ID_TA                    0
dtype: int64

In [39]:
! pip install nltk

Requirement already satisfied: nltk in c:\users\nicyj\miniconda3\envs\tf_mole\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\nicyj\miniconda3\envs\tf_mole\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in c:\users\nicyj\miniconda3\envs\tf_mole\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\nicyj\miniconda3\envs\tf_mole\lib\site-packages (from nltk) (2022.10.31)
Requirement already satisfied: joblib in c:\users\nicyj\miniconda3\envs\tf_mole\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: colorama in c:\users\nicyj\miniconda3\envs\tf_mole\lib\site-packages (from click->nltk) (0.4.6)
Requirement already satisfied: importlib-metadata in c:\users\nicyj\miniconda3\envs\tf_mole\lib\site-packages (from click->nltk) (4.11.3)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\nicyj\miniconda3\envs\tf_mole\lib\site-packages (from importlib-metadata->click->nltk) (4.4.0)
Requirement already satisfied: zipp>=0.5 in c:\users\nicyj\miniconda3\envs\tf_mole\lib\site-packages (from importlib-metadata->click->nltk) (3.11.0)

In [5]:
import re
import nltk
nltk.download('punkt')
from nltk import word_tokenize

def clean_text(text):
  #print(text)  
  text = text.lower()
  text = re.sub("[^a-zA-Z\'\-]", " ", text) 
  return " ".join(word_tokenize(text)[:256])

df['Reviews'] = df['Reviews'].astype(str)
df["clean_reviews"] = df.Reviews.apply(clean_text)
df.head()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\nicyj\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,clean_reviews
0,0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...,d11752080,'just like home ' ' a warm welcome to wintry a...
1,1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...,d693419,'great food and staff ' 'just perfect ' ' ' ' '
2,2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...,d696959,'satisfaction ' 'delicious old school restaura...
3,3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...,d1239229,'true five star dinner ' ' a superb evening of...
4,4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...,d6864170,'best meal ever ' 'super food experience ' ' '...

In [6]:
from nltk.sentiment import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()
text = "Terrible value for money bad attitude and bad service"
sentiment_scores = sid.polarity_scores(text)
if sentiment_scores['compound'] >= 0.5:
    sentiment = 'Positive'
elif sentiment_scores['compound'] <= -0.5:
    sentiment = 'Negative'
else:
    sentiment = 'Neutral'
print(sentiment)

Negative

In [7]:
df['sentiment_scores'] = df['clean_reviews'].apply(lambda x: sid.polarity_scores(x))

In [8]:
df['sentiment'] = df['sentiment_scores'].apply(lambda x: 'Positive' if x['compound'] >= 0.5 
                                               else ('Negative' if x['compound'] <= -0.5 
                                               else 'Neutral'))

In [9]:
df.head()

,Unnamed: 0,Name,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,clean_reviews,sentiment_scores,sentiment
0,0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",1.0,5.0,$$ - $$$,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...,d11752080,'just like home ' ' a warm welcome to wintry a...,"{'neg': 0.0, 'neu': 0.403, 'pos': 0.597, 'comp...",Positive
1,1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",2.0,4.5,$$$$,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...,d693419,'great food and staff ' 'just perfect ' ' ' ' ',"{'neg': 0.0, 'neu': 0.339, 'pos': 0.661, 'comp...",Positive
2,2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",3.0,4.5,$$$$,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...,d696959,'satisfaction ' 'delicious old school restaura...,"{'neg': 0.0, 'neu': 0.312, 'pos': 0.688, 'comp...",Positive
3,3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",4.0,5.0,$$$$,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...,d1239229,'true five star dinner ' ' a superb evening of...,"{'neg': 0.0, 'neu': 0.446, 'pos': 0.554, 'comp...",Positive
4,4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",5.0,4.5,$$$$,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...,d6864170,'best meal ever ' 'super food experience ' ' '...,"{'neg': 0.0, 'neu': 0.331, 'pos': 0.669, 'comp...",Positive

In [10]:
df['sentiment'].value_counts()

Neutral     62108
Positive    60532
Negative     2887
Name: sentiment, dtype: int64

In [11]:
cusine_df = df[['Name', 'Cuisine Style','ID_TA']]
print(len(cusine_df))
cusine_df.head()

125527

,Name,Cuisine Style,ID_TA
0,Martine of Martine's Table,"['French', 'Dutch', 'European']",d11752080
1,De Silveren Spiegel,"['Dutch', 'European', 'Vegetarian Friendly', '...",d693419
2,La Rive,"['Mediterranean', 'French', 'International', '...",d696959
3,Vinkeles,"['French', 'European', 'International', 'Conte...",d1239229
4,Librije's Zusje Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",d6864170

In [12]:
cusine_df.dtypes

Name             object
Cuisine Style    object
ID_TA            object
dtype: object

In [13]:
cusine = cusine_df.dropna()
cusine.isnull().sum()

Name             0
Cuisine Style    0
ID_TA            0
dtype: int64

In [14]:
cusine['Cuisine Style'] = cusine['Cuisine Style'].astype(str)
cusine['Cuisine Style'] = cusine['Cuisine Style'].apply(lambda x: eval(x))
cusine = cusine.explode('Cuisine Style')
len(cusine)

C:\Users\nicyj\miniconda3\envs\tf_mole\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\nicyj\miniconda3\envs\tf_mole\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

286649

In [15]:
cusine.head()

                         Name Cuisine Style      ID_TA
0  Martine of Martine's Table        French  d11752080
0  Martine of Martine's Table         Dutch  d11752080
0  Martine of Martine's Table      European  d11752080
1         De Silveren Spiegel         Dutch    d693419
1         De Silveren Spiegel      European    d693419

In [16]:
cusine.to_csv("C:/Users/nicyj/becode/Restaurant/Data/archive/cuisine_split.csv")

In [17]:
df.to_csv("C:/Users/nicyj/becode/Restaurant/Data/archive/TA_restaurants_processed.csv")